<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Click to Chat</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <style>
        .whatsapp-button {
            position: fixed;
            bottom: 90px;
            right: 40px;
            z-index: 9999;
        }

        #whatsappButton {
            background-color:#32CD32;
            border: none;
            border-radius: 30px;
            padding: 10px;
            text-decoration: none;
            transition: background-color 0.3s;
            cursor: pointer;
        }

        #whatsappButton:hover {
            background-color: #f9fafa;
        }

        img {
            width: 45px;
            height: 40px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div class="whatsapp-button">
        <button id="whatsappButton">
            <img src="/images/www.webp" alt="WhatsApp">
        </button>
    </div>

    <script>
        document.getElementById('whatsappButton').addEventListener('click', function() {
            var phoneNumber = '9661259888'; // Replace with your WhatsApp phone number, including country code
            var message = 'Hello! I have a question.'; // You can customize the initial message
        
            if(isMobile()) {
                openWhatsAppApp(phoneNumber, message);
            } else {
                openWhatsAppWeb(phoneNumber, message);
            }
        });
        
        function isMobile() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }
        
        function openWhatsAppWeb(phoneNumber, message) {
            var whatsappWebLink = 'https://web.whatsapp.com/send?phone=' + phoneNumber + '&text=' + encodeURIComponent(message);
            window.open(whatsappWebLink, '_blank');
        }
        
        function openWhatsAppApp(phoneNumber, message) {
            var whatsappAppLink = 'https://api.whatsapp.com/send?phone=' + phoneNumber + '&text=' + encodeURIComponent(message);
            window.open(whatsappAppLink, '_blank');
        }
        
    </script>
</body>
</html>
